@charset "UTF-8";
:root {
    --browser-margin: 16px;
}
body {
    font-family: "Verdana", "Arial", sans-serif; /* Verdana(ほとんどのOS),Arial(Windows, iOS, Android),Sans-Serif(サンセリフ)最後に必ず汎用ファミリ名を入れる */
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden; /* スクロール自体を無効化 */
}
#main {
    height: calc(100vh - var(--browser-margin));
    width: calc(100vw - var(--browser-margin));
    background-color: black;
    border-radius: 8px;
    color: white;
}
header {
    /*background-color: red; /*Debug*/
    font-size: 3.5em; /* 16*3.5 = 56px; */
    padding-left: 0.5em;
    display: flex;
    justify-content: space-between;
}
header #titledatetime {
    margin-right: 0.5em;
}
/* === [Copy Right] === */
footer #copyright {
    position: fixed;
    font-size: 16px;
    bottom: 8px;
    left: calc((100vw / 2) - 10em);
    color: rgba(255, 255, 255, 0.3);
}
/* === [responsible] === */
footer #responsible {
    position: fixed;
    font-size: 16px;
    bottom: 8px;
    right: 10px;
    color: rgba(255, 255, 255, 0.3);
}


/* =========================================================================== */
/*  カラー設定
/* =========================================================================== */
.colorGreen     {color: rgba(0, 250, 0, 0.8);}
.colorYellow    {color: rgba(255, 255, 0, 0.8);}
.colorRed       {color: rgba(215, 0, 0, 0.8);}


/* =========================================================================== */
/*  ダッシュボード設定
/* =========================================================================== */
#dashboard1 {
    position: fixed;
    margin-top: 3em;
    width: 100%;
    z-index: 1;
}
#dashboard2 {
    position: fixed;
    margin-top: 1em;
    height: calc(100vh - 13.5em);
    width: 100%;
    z-index: 0;
}
#dashboard3 {
    position: fixed;
    margin-top: 0rem;
    height: calc(100vh - 11em);
    width: 100%;
    z-index: 0;
}
#dashboard1 table {
    width: calc(100vw * 0.8);
    margin-inline: auto;
    text-align: center;
    border-collapse: collapse; /* Excelみたいな表にする設定 */
}
#dashboard1 table th {
    border: 5px solid whitesmoke;
    font-size: 3em;
    height: 2em;
}
#dashboard1 table .tddata {
    border: 5px solid whitesmoke;
    width: calc((100vh - var(--browser-margin)) / 3);
    font-size: 6.5em; 
}
#dashboard1 table .tdheader {
    border: 5px solid whitesmoke;
    width: calc((100vh - var(--browser-margin)) / 3);
    font-size: 5em;
    height: 2em;
}
#dashboard1 .hon {
    font-size: 0.4em;
    color: aliceblue;
}
#dashboard2 #chart2 {
    width: calc(100vw * 0.8);
    margin-inline: auto;
    text-align: center;
}
#dashboard3 #chart3 {
    width: calc(100vw * 0.7);
    margin-inline: auto;
    text-align: center;
}
/* 注文ダッシュボード用 */
#f-dashboard1 {
    position: fixed;
    height: calc(100vh - 8em);
    width: 100%;
    margin-top: 0rem;
    margin: auto;
    z-index: 1;
}
#f-dashboard1 #chart1 {
    width: calc(100vw * 0.9);
    margin-inline: auto;
    text-align: center;
}
#f-dashboard2 {
    position: fixed;
    height: calc(100vh - 8em);
    width: 100%;
    margin-top: 0rem;
    margin: auto;
    z-index: 0;
}
#f-dashboard2 #chart2 {
    width: calc(100vw * 0.9);
    margin-inline: auto;
    text-align: center;
}
#f-dashboard3 {
    position: fixed;
    height: calc(100vh - 8em);
    width: 100%;
    margin-top: 0rem;
    margin: auto;
    z-index: 0;
}
#f-dashboard3 #chart3 {
    width: calc(100vw * 0.9);
    margin-inline: auto;
    text-align: center;
}


/* =========================================================================== */
/*  メディアクエリ設定
/* =========================================================================== */
/* landscape:横の設定 */
#responsible:before { content: "16px "; }
@media (min-width: 1520px) and (max-width: 1540px) and (orientation: landscape) {#responsible:before { content: "13px "; } body { font-size: 13px; background-color: rgba(0, 0, 0, 0.9); }} /* 125%用 */
@media (min-width: 1280px) and (max-width: 1320px) and (orientation: landscape) {#responsible:before { content: "15px "; } body { font-size: 15px; background-color: rgba(0, 0, 0, 0.85); }}
@media (min-width: 1150px) and (max-width: 1280px) and (min-height: 801px) and (orientation: landscape) {#responsible:before { content: "14px "; } body { font-size: 14px; background-color: rgba(0, 0, 0, 0.8); }} /* PC090N拡張モニター */
@media (min-width: 1150px) and (max-width: 1280px) and (max-height: 800px) and (orientation: landscape) { /* 会社 iPad(A16横) 設定 Chrome:w1180h688 Safari:w1180h692 */
    #responsible:before{content:"iPad横 ";}
    body{font-size: 14px;}
    header{display:none;}

    #dashboard2 #chart2 {width: 92svw;}
    #dashboard3 #chart3 {width: 92svw;}

    #f-dashboard1{height:90svh;}
    #f-dashboard2{height:90svh;}
    #f-dashboard3{height:90svh;}
}
/*@media (max-width: 1280px) and (min-height: 900px) and (max-height: 1000px) {#responsible:before { content: "13px "; } body { font-size: 13px; background-color: rgba(0, 0, 0, 0.8); }} /*  */
@media (min-width: 1070px) and (max-width: 1150px) and (orientation: landscape) {#responsible:before { content: "13px "; } body { font-size: 13px; background-color: rgba(0, 0, 0, 0.75); }}
@media (min-width:  990px) and (max-width: 1070px) and (orientation: landscape) {#responsible:before { content: "12px "; } body { font-size: 12px; background-color: rgba(0, 0, 0, 0.7); }}
@media (min-width:  900px) and (max-width:  990px) and (orientation: landscape) {#responsible:before { content: "11px "; } body { font-size: 11px; background-color: rgba(0, 0, 0, 0.65); }}
@media (min-width:  825px) and (max-width:  900px) and (orientation: landscape) {#responsible:before { content: "10px "; } body { font-size: 10px; background-color: rgba(0, 0, 0, 0.6); }}
@media (min-width:  745px) and (max-width:  825px) and (orientation: landscape) {#responsible:before { content: "9px ";  } body { font-size:  9px; background-color: rgba(0, 0, 0, 0.55); }}
@media (min-width:  670px) and (max-width:  745px) and (orientation: landscape) {#responsible:before { content: "8px ";  } body { font-size:  8px; background-color: rgba(0, 0, 0, 0.5); }} /* iPad A16縦 */
@media (min-width:  580px) and (max-width:  670px) and (orientation: landscape) {#responsible:before { content: "7px ";  } body { font-size:  7px; background-color: rgba(0, 0, 0, 0.45); }}
@media (min-width:  500px) and (max-width:  580px) and (orientation: landscape) {#responsible:before { content: "6px ";  } body { font-size:  6px; background-color: rgba(0, 0, 0, 0.4); }}
@media (min-width:  420px) and (max-width:  500px) and (orientation: landscape) {#responsible:before { content: "5px ";  } body { font-size:  5px; background-color: rgba(0, 0, 0, 0.35); }}
@media (min-width:  340px) and (max-width:  420px) and (orientation: landscape) {#responsible:before { content: "4px ";  } body { font-size:  4px; background-color: rgba(0, 0, 0, 0.3); }}
@media (min-width:    0px) and (max-width:  340px) and (orientation: landscape) {#responsible:before { content: "3px ";  } body { font-size:  3px; background-color: rgba(0, 0, 0, 0.25); }}

/* 自宅 Andoroid Table 設定 */
@media (min-width: 1280px) and (max-width: 1280px) and (min-height: 620px) and (max-height: 630px) {
    #responsible:before{content:"14px ";} body{font-size:14px;} header{margin-bottom:0.5em;} #dashboard1 table th{height: 1.5em;} #dashboard1 table td{height: 1.5em;}
}
/* 自宅 Andoroid 設定 */
@media (min-width: 810px) and (max-width: 820px) and (min-height: 360px) and (max-height: 420px) {
    #responsible:before{content:"9px ";} body{font-size:9px;} header{margin-bottom:0.5em;} #dashboard1 table th{height:1em;} #dashboard1 table td{font-size:4em;height:1.5em;} footer{height:calc(3.5em);}
}
/* 会社 iPad(第10世代) 設定 1180*696  */
@media (min-width: 1180px) and (max-width: 1180px) and (min-height: 696px) and (max-height: 696px) {
    #responsible:before{content:"iPad10 ";} body{font-size:13px;} header{margin-bottom:0.5em;} #dashboard1 table th{height:1.5em;} #dashboard1 table td{height:1em;}
}
/* 会社 iPhone 設定 */
@media (min-width: 660px) and (max-width: 670px) and (min-height: 320px) and (max-height: 330px) {
    #responsible:before{content:"6px ";} body{font-size:6px;} header{margin-bottom:0.5em;} #dashboard1 table th{height:2em;} #dashboard1 table td{height:1em;}
}

/* landscape:横の設定 */
/* 会社 iPad(A16縦) 設定 Chrome:w820h1048 Safari:w820h1052 */
@media (min-width: 800px) and (max-width: 840px) and (min-height: 1030px) and (max-height: 1150px) and (orientation: portrait) {
    #responsible:before{content:"iPad縦 ";}
    body {font-size:14px;}
    header {display:none;}
    
    #dashboard1 table {width: 80vw;}
    #dashboard1 table th {font-size: 2.5em; height: 2em;}
    #dashboard1 table .tddata {font-size: 5em;}
    #dashboard1 table .tdheader {font-size: 3em; font-weight: 600; height: 3em;}

    #dashboard2 {height:90svh;}
    #dashboard2 #chart2 {width: 92svw;}

    #dashboard3 {height:90svh;}
    #dashboard3 #chart3 {width: 92svw;}

    #f-dashboard1{height:90svh;}
    #f-dashboard2{height:90svh;}
    #f-dashboard3{height:90svh;}
 }

/* =========================================================================== */
/*  ダッシュボードの画面間切り替えの設定
/* =========================================================================== */
.dashboard-bg {
    transition: opacity 2s ease-in-out;
}
/* 初期表示 */
#dashboard1 {opacity: 1;}
#dashboard2 {opacity: 0;}
#dashboard3 {opacity: 0;}


/* === [Animation] === */
.animation {
    border-radius: 3px;
    animation: blinkAnimation 0.8s infinite alternate;
}
@keyframes blinkAnimation {
    0%{ color : rgba(230, 250, 230, 0.8);   background:rgba(20, 120, 20, 0.8) }
  100%{ color : rgba(0, 0, 0, 0.8); background:rgba(100, 250, 120, 0.8)   }
}

.backshadow {
    text-align: center;
    background-color: #0d6d91;
    line-height: 10em;
    border-radius: 5px;
}

/* =========================================================================== */
/*  ボタン(z-index:9)
/* =========================================================================== */

/* 手動機テキスト装飾 */
.text-amazing-m {
    text-shadow:
        0 1px 0 rgba(220, 200, 200, 0.9),
        0 1.5px 0 rgba(220, 150, 150, 0.7),
        0 2px 0 rgba(150, 70, 70, 0.5),
        0 2.5px 0 rgba(220, 150, 150, 0.3),
        2px 3px 4px rgba(0, 0, 0, 0.1),
        2px 3px 4px rgba(0, 0, 0, 0.3);
    color: rgba(220, 150, 100, 0.9);
    font-size: 2.4rem;
}
/* 自動機テキスト装飾 */
.text-amazing-a {
    text-shadow:
        0 1px 0 rgba(200, 200, 220, 0.9),
        0 1.5px 0 rgba(150, 150, 220, 0.7),
        0 2px 0 rgba(70, 70, 220, 0.5),
        0 2.5px 0 rgba(150, 150, 220, 0.3),
        2px 3px 4px rgba(0, 0, 0, 0.1),
        2px 3px 4px rgba(0, 0, 0, 0.3);
    color: rgba(100, 150, 220, 0.9);
    font-size: 2.4rem;
}
/* 戻るボタン */
#btnprev {
    position: fixed;
    top: calc(100vh /4);
    left: var(--browser-margin);
    height: calc(100vh / 2);
    width: 30px;
    border-radius: 10px 0 0 10px;
    background:rgba(250, 250, 250, 0.05);
    z-index: 9;
}
#btnprev:hover {
    background: rgba(250, 250, 250, 0.3);
    cursor: pointer;
}
/* 進ボタン */
#btnnext {
    position: fixed;
    top: calc(100vh /4);
    right: var(--browser-margin);
    height: calc(100vh / 2);
    width: 30px;
    border-radius: 0px 10px 10px 0px;
    background:rgba(250, 250, 250, 0.05);
    z-index: 9;
}
#btnnext:hover {
    background: rgba(250, 250, 250, 0.3);
    cursor: pointer;
}
/* くの字の表示設定 */
.arrowright::before {
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc((var(--browser-margin) / 2) + 3px);
    width: 13px;
    height: 13px;
    border-top: 4px solid rgba(250, 250, 250, 0.1);     /* くの字を山なりに見た時、左側の太さと色 */
    border-right: 4px solid rgba(250, 250, 250, 0.1);   /* くの字を山なりに見た時、右側の太さと色 */
    transform: rotate(225deg);                            /* くの字の向き */
}
/* ＞の字の表示設定 */
.arrowleft::before {
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: calc((var(--browser-margin) / 2) + 3px);
    width: 13px;
    height: 13px;
    border-top: 4px solid rgba(250, 250, 250, 0.1);     /* くの字を山なりに見た時、左側の太さと色 */
    border-right: 4px solid rgba(250, 250, 250, 0.1);   /* くの字を山なりに見た時、右側の太さと色 */
    transform: rotate(45deg);                             /* くの字の向き */
}

/* =========================================================================== */
/*  カルーセル
/* =========================================================================== */
/* スライド切り換え用ラジオボタンは常に非表示 */
.slide_select {
    display: none;
}
/* スライド移動ボタンエリア */
.move_controler {
    position: absolute;
    bottom: 2em;
    width: 100%;
    text-align: center;
    z-index: 9;
}
/* スライド移動の各ボタン */
.button_move {
    display: inline-block;
    height: 2em;
    width: 2em;
    margin: 0 2em;
    border-radius: 100%;
    background-color: rgba(60, 180, 180, 0.6);
    /* 普段はやや薄くする */
    opacity: 0.5;
}
/* ホバー時はやや明るくする */
.button_move:hover {
    cursor: pointer;
    opacity: 1.0;
}
/* 1番目のスライド選択時 */
/* スライド移動ボタンの1個目を明るくする */
/* （今選択されていることが分かるように） */
.slide_select:nth-of-type(1):checked ~ .button_move:nth-of-type(1) {
    opacity: 1;
}
/* 2番目のスライド選択時（1番目のスライドと同じことをする） */
.slide_select:nth-of-type(2):checked ~ .button_move:nth-of-type(2) {
    opacity: 1;
}
/* 3番目のスライド選択時 */
.slide_select:nth-of-type(3):checked ~ .button_move:nth-of-type(3) {
    opacity: 1;
}
/* 一時停止ボタン*/
.video_pause {
    position: absolute;
    bottom: 0px;
    margin-left: 5rem;
    width: 2rem;
    height: 2rem;
    border: 2px solid currentColor;
    border-radius: 50%;
    color: rgba(150, 150, 150, 0.8);
    opacity: 0.3;
}
.video_pause::before, .video_pause::after {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0.3rem;
    height: 1rem;
    color: rgba(180, 180, 0, 1.0);
    background-color: currentColor;
    content: "";
}
.video_pause::before {
    left: 35%;
}
.video_pause::after {
    left: 65%;
}
.video_pause:hover {
    cursor: pointer;
    opacity: 0.8;
}
.video_play {
    position: absolute;
    bottom: 0px;
    margin-left: 5rem;
    width: 2rem;
    height: 2rem;
    border: 2px solid currentColor;
    border-radius: 50%;
    color: rgba(150, 150, 150, 0.8);
    opacity: 0.3;
    display: none;
}
.video_play::before, .video_play::after  {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    border: 10px solid transparent;
    border-left: 14px solid currentColor;
    color: rgba(60, 180, 180, 0.8);
    box-sizing: border-box;
    content: "";
}
.video_play:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* =========================================================================== */
/*  アニメーション
/* =========================================================================== */

/* 右へスライドアウト */
.slideout_toright {animation: rightSlideOut 0.5s forwards}
@keyframes rightSlideOut {from {transform: translateX(0%);} to {transform: translateX(50%);}}

/* 右からスライドイン */
.slidein_fromright {animation: rightSlideIn 0.5s forwards;}
@keyframes rightSlideIn {from {transform: translateX(50%);} to {transform: translateX(0%);}}

/* 左へスライドアウト */
.slideout_toleft {animation: leftSlideOut 0.5s forwards;}
@keyframes leftSlideOut {from {transform: translateX(0%);} to {transform: translateX(-50%);}}

/* 左からスライドイン */
.slidein_fromleft {animation: leftSlideIn 0.5s forwards;}
@keyframes leftSlideIn {from {transform: translateX(-50%);} to {transform: translateX(0%);}}



/* =========================================================================== */
/*  ポップアップウィンドウ
/* =========================================================================== */
.popwin-background {
    position: fixed;
    /*top: 0;*/
    /*left: 0;*/
    width: 100vw;
    /*height: 100vh;*/
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
}
.popwin-modalbody {
    display: grid;
}
#popup-delay {
    /*height: 90vh;*/
    margin-top: 10px;
    background-color: rgba(250, 250, 250, 1.0);
    overflow-y: auto; /* 縦スクロールバーを有効化 */
    border-radius: 5px;
    padding-inline: 20px;
    /*padding-bottom: 30px;*/
}
#delayPopupTable {
    margin-block: 10px;
    color: black;
    border-collapse: collapse;
}
#delayPopupTable th {
    background-color: rgba(50, 250, 50, 0.6);
    border: 2px solid black;
    position: sticky; /* ヘッダーを固定 */
    top: 10px; /* 固定位置 */
    /*z-index: 1; /* ヘッダーを前面に表示 */
}
#delayPopupTable td {
    border: 2px solid black;
    padding-inline: 10px;
}
#delayPopupTable tr:nth-child(odd) {
    background-color: rgba(150, 150, 150, 0.3
    ); /* 奇数行の背景色 */
}
.lef {
    text-align: left;
}
.rig {
    text-align: right;
}

a {
   text-decoration: none;
   color: white;
}
