@charset "UTF-8";
/* =========================================================================== */
/*  style-index.css : 切削工程メニューで使用するスタイルシート
/* =========================================================================== */
:root {
    --item-title-row: 40px;

    --tablet-item-img: 50px;
    --tablet-grid-row: 90px;
    --tablet-grid-column: 160px;
    --tabport-grid-column: 120px;

    --mobile-item-img: 80px;
    --mobile-grid-row: 120px;
    --mobile-grid-column: 90px;

    --notepc-item-img: 40px;
    --notepc-grid-row: 130px;
    --notepc-grid-column: 200px;

    --desktop-item-img: 60px;
    --desktop-grid-row: 140px;
    --desktop-grid-column: 220px;
}
/* =========================================================================== */
/*  レスポンシブレイアウト [Grid] 設定
/* =========================================================================== */
/* Tablet [default] [Topics] + [4列 x 2行] + [4列 x 1行] */
.responsible:before { content: "TabletSize"; }
.containers {
    display: grid;
    background: rgb(250, 250, 250);
    border-radius: 10px;
    font-size: small;
    margin: 50px auto;
    width: calc((var(--tablet-grid-column) * 6) + 1rem);
    grid-template-columns: repeat(6, var(--tablet-grid-column));
    grid-template-rows:
    var(--item-title-row) repeat(2, var(--tablet-grid-row))
    var(--item-title-row) repeat(1, var(--tablet-grid-row))
    var(--item-title-row) repeat(1, var(--tablet-grid-row))
    var(--item-title-row) repeat(1, var(--tablet-grid-row))
    var(--item-title-row) repeat(1, var(--tablet-grid-row));
}
.containers .item {
    background: rgb(0, 168, 169, 0.1);
    border: 0.1rem solid rgb(0, 168, 169, 0.1);
    border-radius: 1rem;
    box-shadow: 2px 2px 4px gray;
    margin: 0rem 0rem 1rem 1rem;
    font-size: large;
    font-weight: 600;
    text-align: center;
}
.containers .item:hover {
    background: rgb(204 ,230 ,250,1);
}
.containers .item a {
    line-height: calc(var(--tablet-grid-row) - 1.2rem);
}
.containers .item-title {
    color: #555;
    font-size: 1.3rem;
    font-weight: 900;
    margin: 0.5rem 0 0rem 2rem;
    grid-column: 1 / 7;
}
.containers .itemimg {
    height: var(--tablet-item-img);
    padding: 0.5rem 0 0 0;
}
.containers .itemtext {
    font-size: 1.2rem;
}
/* tablet-portrait(縦)-size: 900px～1199px 業務[2行 x 3列] + 他[1行 x 3列] + [Topics] */
@media screen and (orientation: portrait) and (min-height: 900px) and (max-height: 1199px) {
    .responsible:before { content: "TabletPortrait"; }
    .containers {
        width: calc((var(--tabport-grid-column) * 6) + 1rem);
        grid-template-columns: repeat(6, var(--tabport-grid-column));
        grid-template-rows: 
        var(--item-title-row) repeat(2, var(--tablet-grid-row)) 
        var(--item-title-row) repeat(1, var(--tablet-grid-row))
        var(--item-title-row) repeat(1, var(--tablet-grid-row)) 
        var(--item-title-row) repeat(1, var(--tablet-grid-row)) 
        var(--item-title-row) repeat(1, var(--tablet-grid-row)) 
        var(--item-title-row) repeat(1, var(--tablet-grid-row));
    }
}
/* mobile-landscape(横)-size: ～500px縦 && ～800px横 */
@media screen and (orientation: landscape) and (max-height:500px) and (max-width:800px) {
    .responsible:before { content: "MobileSizeW"; }
    .containers {
        width: calc((var(--mobile-grid-column) * 3) + 1rem);
        grid-template-columns: repeat(3, var(--mobile-grid-column));
        grid-template-rows: 
            var(--item-title-row) repeat(3, var(--mobile-grid-row)) 
            var(--item-title-row) repeat(2, var(--mobile-grid-row))
            var(--item-title-row) var(--mobile-grid-row)
            var(--item-title-row) var(--mobile-grid-row);
    }
    .containers .item {
        margin: 0rem 0rem 0.5rem 1rem;
    }
    .containers .itemimg {
        height: var(--mobile-item-img);
        padding: 0.5rem 0 0 0;
    }
    .containers .itemtext {
        font-size: 0.8rem;
    }
}
/* mobile-portrait(縦)-size: ～500px横 */
@media screen and (orientation: portrait) and (max-height: 800px) {
    .responsible:before { content: "MobileSizeH"; }
    .containers {
        width: calc((var(--mobile-grid-column) * 3) + 1rem);
        grid-template-columns: repeat(3, var(--mobile-grid-column));
        grid-template-rows: 
            var(--item-title-row) repeat(3, var(--mobile-grid-row)) 
            var(--item-title-row) repeat(2, var(--mobile-grid-row))
            var(--item-title-row) var(--mobile-grid-row);
    }
    .containers .item {
        margin: 0rem 0rem 0.5rem 1rem;
    }
    .containers .itemimg {
        height: var(--mobile-item-img);
        padding: 0.5rem 0 0 0;
    }
    .containers .itemtext {
        font-size: 0.8rem;
    }
}
/* NotePC-size: 1200px～1899px */
@media screen and (min-width: 1200px) and (max-width: 1599px) and (orientation: landscape) {
    .responsible:before { content: "NotePCSize"; }
    .containers {
        width: calc((var(--notepc-grid-column) * 6) + 1rem);
        grid-template-columns: repeat(6, var(--notepc-grid-column));
        grid-template-rows: 
        var(--item-title-row) repeat(2, var(--notepc-grid-row))
        var(--item-title-row) repeat(1, var(--notepc-grid-row))
        var(--item-title-row) repeat(1, var(--notepc-grid-row))
        var(--item-title-row) repeat(1, var(--notepc-grid-row))
        var(--item-title-row) repeat(1, var(--notepc-grid-row));
    }
    .containers .item a {
        line-height: calc(var(--notepc-grid-row) - 1.2rem);
    }
    .containers a {
        margin-bottom: 0.5rem;
    }
    .containers .itemimg {
        height: var(--notepc-item-img);
        padding: 1.0rem 0 0 0;
    }
}
/* desktop-pc-size: 1700px～ (各ブラウザのサイドバー、垂直タブバー、コレクション、エッセンシャル等を考慮) */
@media screen and (orientation: landscape) and (min-width: 1600px) {
    .responsible:before { content: "PC24inchSize"; }
    .containers {
        width: calc((var(--desktop-grid-column) * 6) + 1rem);
        grid-template-columns: repeat(6, var(--desktop-grid-column));
        grid-template-rows: 
        var(--item-title-row) repeat(2, var(--desktop-grid-row))
        var(--item-title-row) var(--desktop-grid-row)
        var(--item-title-row) var(--desktop-grid-row)
        var(--item-title-row) var(--desktop-grid-row);
    }
    .containers .itemimg {
        height: var(--desktop-item-img);
        padding: 0.5rem 0 0 0;
    }
    .containers .itemtext {
        font-size: 1.4rem;
    }
}
/* 27inchMonitor-size: 2560*1440 */
@media screen and (min-width: 2500px) and (orientation: landscape) {
    .responsible:before { content: "PC27inchSize"; }
}
.backshadow {
    text-align: center;
    background-color: #0d6d91;
    line-height: 10em;
    border-radius: 5px;
}
/* 手動機テキスト装飾 */
.text-amazing-m {
    text-shadow:
        0 1px 0 rgba(220, 200, 200, 0.9),
        0 1.5px 0 rgba(220, 150, 150, 0.7),
        0 2px 0 rgba(150, 70, 70, 0.5),
        0 2.5px 0 rgba(220, 150, 150, 0.3),
        2px 3px 4px rgba(0, 0, 0, 0.1),
        2px 3px 4px rgba(0, 0, 0, 0.3);
    color: rgba(220, 150, 100, 0.9);
    font-size: 2.4rem;
}
/* 自動機テキスト装飾 */
.text-amazing-a {
    text-shadow:
        0 1px 0 rgba(200, 200, 220, 0.9),
        0 1.5px 0 rgba(150, 150, 220, 0.7),
        0 2px 0 rgba(70, 70, 220, 0.5),
        0 2.5px 0 rgba(150, 150, 220, 0.3),
        2px 3px 4px rgba(0, 0, 0, 0.1),
        2px 3px 4px rgba(0, 0, 0, 0.3);
    color: rgba(100, 150, 220, 0.9);
    font-size: 2.4rem;
}
