@charset "UTF-8";
/* =========================================================================== */
/*  mp-style.css : 主にMPページ群で使用する基本的なスタイルシート
/* =========================================================================== */
a {
    color: cadetblue;
    text-decoration: none;
}
/* === Header ================================================================ */
#gotoswmenu {
    display: block;
    position: fixed;
    left: 200px;
    top: 7px;
    font-size: 1.6rem;
    z-index: 999;
}
#gotoswmenu a {
    color: #FEFEFE;
}
#gotoswmenu a:hover {
    color: cadetblue;
}
/* === Navigate ================================================================ */
#navigate {
    position: fixed;
    top: 45px;
}
#groups a li:hover {
    background-color: #ddd;
}
#groups .allow {
    padding: 0.6em;
    border-radius: 3px;
    background-color: rgb(40, 40, 40);
    color: #eee;
}
#groups .allow:hover {
    border-radius: 3px;
    background-color: rgb(24, 94, 164);
    /* width: 30px; */
    color: #eee;
}
/* =========================================================================== */
/*  ポップアップウィンドウ
/* =========================================================================== */
.popwin-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    z-index: 2;
}
.popwin-modalbody {
    display: grid;
}
#jiqtyPopup {
    border-radius: 5px;
    width: 400px;
    background-color: #fff;
}
#jiqtyPopupCalc {
    margin: 10px auto;
}
#jiqtyPopupTitle {
    display: flex;
    color: rgb(255, 255, 255, 1);
    background: rgb(50, 50, 50, 1);
    height: 40px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    vertical-align: middle;
}
#jiqtyPopupTitle .center {
    margin: auto;
    font-size: x-large;
}
#jiqtyClose {
    cursor: pointer;
    margin: auto 0px;
    padding: 5px;
    font-size: medium;
}
#jiqtyPopup tr {
    background-color: #FEFEFE;
    height: 2.5rem;
}
#jiqtyPopup th {
    border: solid 0.5px #1414141c;
    border-radius: 5px;
    background-color: rgb(225, 238, 253);
}
#jiqtyPopup th a {
    display: inline-block;
    padding: 10px 7px;
}
#jiqtyPopup td {
    border: solid 0.5px #1414141c;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    padding: 2px 5px ;
}
#jiqtyPopup .left {
    text-align: left;
    padding-left: 15px;
}
#popHMCD {
    font-size: x-large;
    font-weight: 800;
}
#jiqtyPopup .borderless {
    border: solid 0px;
}
#jiqtyPopup td a {
    display: inline-block;
}
.padnum {
    padding: 7px 19px;
}
.padlen1 {
    padding: 10px 18px;
}
.padlen2 {
    padding: 10px 10px;
}
.padbtn {
    padding: 16px 12px;
}
#inputJIQTY {
    outline: none;
    font-size: xx-large;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}
.calc-numpad {
    height: 60px;
    width: 60px;
    color: rgb(225, 238, 253);
    background-color: rgba(0, 171, 250, 0.5);
    font-size: 2.5rem;
}
.calc-function {
    height: 60px;
    width: 60px;
    color: rgb(225, 238, 253);
    background-color: rgba(250, 163, 50, 0.6);
    font-size: 2.0rem;
}
.calc-btn {
    height: 60px;
    width: 40px;
    color: rgb(50, 50, 50, 0.8);
    background-color: rgba(200, 200, 200, 0.3);
    font-size: 1.0rem;
}
#jiqtyPopupButtons {
    cursor: pointer;
    text-align: center;
    vertical-align: bottom;
    margin-bottom: 5px;
    margin-inline: 5px;
    color: rgb(50, 50, 50, 0.8);
    font-size: x-large;
    font-weight: bolder;
}
#jiqtyStart {
    height: 40px;
    background-color: rgba(179, 247, 188, 0.6);
}
#jiqtyEntry {
    height: 40px;
    background-color: rgba(160, 160, 160, 0.4);
}
#jiqtyModify {
    background-color: rgba(235, 38, 38, 0.404);
}
#jiqtyPopupButtons .disable {
    display: none;
}
/* === Details ================================================================ */
#details {
    padding-top: 70px;
    width: 100%;
    margin: auto;
    z-index: 700;
}
.mcnm {
    font-weight: 600;
    margin: auto;
    width: 960px;
}
.floatright {
    float: right;
}
.smalltitle {
    font-size: 0.4em;
    color: darkgray;
}
.check-box {
    width: 2.0em;
    height: 2.0em;
    vertical-align: text-bottom;
    margin-bottom: -3px;
}
#details li {
    display: inline-block;
    color: white;
    list-style: none;
    padding-top: 7px;
    height: 25px;
    width: 48px;
    text-align: center;
}
#details a li {
    border-radius: 3px;
    background-color: black;
    color: #eee;
}
#details a li:hover {
    background-color: #ddd;
}
#details .allow {
    border-radius: 3px;
    background-color: rgb(40, 40, 40);
    width: 30px;
    color: #eee;
}
#details .allow:hover {
    border-radius: 3px;
    background-color: rgb(24, 94, 164);
    width: 30px;
    color: #eee;
}
#details .noallow {
    border-radius: 3px;
    background-color: rgb(164, 164, 164);
    width: 30px;
    color: #eee;
}
#details table {
    font-size: 0.8rem;
    margin: auto;
}
#details tr {
    background-color: #FEFEFE;
    height: 2.5rem;
}
#details .tr2 {
    height: 1.25rem;
}
#details th {
    border: solid 0.5px #1414141c;
    background-color: rgb(225, 238, 253);
}
#details th a {
    display: inline-block;
    padding: 10px 7px;
}
#details td {
    text-align: center;
    width: 40px;
    border: solid 0.5px #1414141c;
    padding: 2px 5px ;
    vertical-align: middle;
}
#details td a {
    display: inline-block;
    padding: 8px 8px;
}
.lef {
    text-align: left;
}
.nodata {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    display: flex;
    width: 865px;
    margin: 0 auto;
}
.s2 {
    color:rgb(0, 0, 0);
}
.s3 {
    border-radius: 3px;
    animation: blinkAnimeS3 0.8s  infinite alternate; /*ease infinite;*/
}
@keyframes blinkAnimeS3{
    0%{ color : rgba(230, 250, 230, 0.8);   background:rgba(20, 120, 20, 0.8) }
  100%{ color : rgba(0, 0, 0, 0.8); background:rgba(100, 250, 120, 0.8)   }
}
.s4 {
    border-radius: 3px;
    background-color: rgb(100,100,100,0.4);
}
.s5 {
    border-radius: 3px;
    background: linear-gradient(to bottom, rgb(250, 250, 250, 0.1) 40%, rgb(100, 100, 100, 0.4) 80%);
}
.s9 {
    color:rgb(0, 0, 0);
}
.warn {
    border-radius: 3px;
    font-weight: 600;
    animation: blinkAnimeWarn 1.5s  infinite alternate;
}
@keyframes blinkAnimeWarn {
    0%{ color : rgba(71, 71, 59, 1.0);   background:rgba(241, 198, 198, 0.8) }
  100%{ color : rgba(255, 255, 0, 1.0); background:rgba(236, 48, 34, 0.8)   }
}
.highlight {
    animation: blinkAnimeHighlight 1.0s  infinite alternate;
}
@keyframes blinkAnimeHighlight {
    0%{ color : rgba(71, 71, 59, 1.0);   background:rgba(241, 241, 241, 0.8) }
  100%{ color : rgba(0, 0, 0, 1.0); background:rgba(255, 255, 0, 1.0)   }
}

.input-number-qty {
    width: 2.5em;
}

#details .btn-irepo {
    background: rgba(234, 146, 75, 0.8);
    border-radius: 0.4rem;
    box-shadow: 2px 2px 4px gray;
    text-align: center;
    font-size: small;
    color: white;
    width: 80%;
}
